{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 1 versions"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Array",
          "Error"
        ]
      }
    ],
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "src",
        "rootPathPrefix": "@"
      }
    ],
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}